.tableStyle {
    width: 67%;
    margin: auto;
}
.tableStyle .tr{
    margin-top: 20px;
}
@media screen and (max-width: 800px) {
    .tableStyle {
        width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .tableStyle{
        width: 80%;
        margin: auto;
    }
  }